<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>main.html</title>
	</head>
	<body>
		<h1>main.html</h1>
		<span sec:authentication="principal"></span>
		
<!--		<div th:if="${session.id}">-->
<!--			<span th:text="${session.id}"></span>님 -->
<!--			<a th:href="@{/logout}">로그아웃</a>-->
<!--		</div>-->
		
<!--		<div th:unless="${session.id}">-->
<!--			<a th:href="@{/login}">로그인</a>-->
<!--			<a th:href="@{/insert}">회원가입</a>-->
<!--		</div>-->

		<div sec:authorize="isAuthenticated()">
			<span sec:authentication="name"></span>님 
			<a th:href="@{/logout}">로그아웃</a>
		</div>

		
		
		<br>
		<a href="/info">회원정보조회</a><br>
		<a href="/update">회원정보수정</a><br>
		<a href="/delete">회원정보삭제</a><br>
		
		<div th:if="${#authentication.principal.Username}=='admin'">
			<a href="/list">회원정보목록</a><br>
		</div>
		
	
		 <h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>
		 
		
		<br>
		<a href="/boardWrite">게시판 글쓰기</a><br>
		<a href="/boardList">게시판 글목록</a><br>
		
	</body>
</html>