<html xmlns="https://www.thymeleaf.org/">
	<head>
		<title>test5.html</title>
	</head>
	<body>
		<a th:href="@{https://www.thymeleaf.org/}">thymeleaf 홈페이지 이동</a>
		<br>
		<a th:href="@{/test}">test 페이지 이동</a>
		<br>
<!--		http://localhost:8080/test6?id=kim&pass=p123-->
		<a th:href="@{/test6(id='kim',pass='p123')}">test6 페이지 이동</a>
		
		<h1>test5.html</h1>
		<table border="1">
			<tr th:each="memberDTO,status:${memberList}">
				
<!--				<td th:if="${status.even}" th:text="짝수"></td>-->
<!--				<td th:unless="${status.even}" th:text="홀수"></td>-->

				<td th:switch="${status.even}">
					<span th:case=true>짝수</span>
					<span th:case=false>홀수</span>
				</td>
				
		<td>아이디 : <span th:text="${memberDTO.id}"></span> </td>
		<td>비밀번호 : <span th:text="${memberDTO.pass}"></span> </td>
		<td>이름 : <span th:text="${memberDTO.name}"></span> </td>
		<td>가입날짜 : <span th:text="${memberDTO.date}"></span> </td>
		
			</tr>
		</table>
	</body>
</html>