<html xmlns="https://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8">
		<title>update.html</title>
	</head>
	<body>
		<h1>update.html</h1>
		<form th:action="@{/boardUpdate}" method="post">
			<input type="hidden" name="readcount" th:value="${board.readcount}">
			<input type="hidden" name="date" th:value="${board.date}">
			글번호 : <input type="text" name="num" th:value="${board.num}" readonly><br>
			이름 : <input type="text" name="name" th:value="${board.name}" readonly><br>
			제목 : <input type="text" name="subject" th:value="${board.subject}"><br>
			내용 : <textarea name="content" rows="5" cols="10" th:text="${board.content}"></textarea><br>
			<input type="submit" value="글수정">
		</form>
	</body>
</html>